<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 涓婅堪3涓猰eta鏍囩*蹇呴』*鏀惧湪鏈€鍓嶉潰锛屼换浣曞叾浠栧唴瀹归兘*蹇呴』*璺熼殢鍏跺悗锛?-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/asset-favicon.ico">
    <title>鎵惧洖瀵嗙爜</title>
    <link rel="stylesheet" href="/static/plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" href="/static/plugins/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/page-learing-student-register.css" />
   <style>
    .register-body .student {
  width: 450px;
  height: 455px;
  margin-top: -227px;
  margin-left: -200px;
}
   </style>
</head>

<body>
<!-- 椤甸潰澶撮儴 -->
<!--#include virtual="/include/header.html"-->
    <!-- 椤甸潰 -->
    <div class="register">

        <div id="findpasswordarea" class="register-body container text-center">
            <form class="form-horizontal required-validate" id="regStudentForm">
                <ul class="r-position student" >
                    <li>
                        <div class="page-header">
                            <h3>鎵惧洖瀵嗙爜</h3>
                            濉啓鎵嬫満鍙锋垨鐢靛瓙閭鎵惧洖瀵嗙爜锛屼袱涓兘濉啓浼樺厛浣跨敤鎵嬫満鎵惧洖
                        </div>
						
                    </li>
                    <li>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">鎵嬫満鍙风爜</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="cellphone" placeholder="璇疯緭鍏ユ墜鏈哄彿鐮? v-model="formdata.cellphone">
                                <span class="verif-span"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">鐢靛瓙閭</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="email" placeholder="璇疯緭鍏ョ數瀛愰偖绠? v-model="formdata.email">
                                <span class="verif-span"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">楠岃瘉鐮?/label>
                            <div class="col-sm-9 verif">
                                <input type="text" class="form-control" name="checkcode" placeholder="璇疯緭鍏ラ獙璇佺爜" v-model="formdata.checkcode">
                                <button class="btn btn-default send" type="button" @click="sendcheckcode">鍙戦€侀獙璇佺爜</button>
                                <span class="verif-span"></span>
                                <input type="hidden" class="form-control" name="checkcodekey" v-model="formdata.checkcodekey">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">瀵嗙爜</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="password" placeholder="璇疯緭鍏ュ瘑鐮? v-model="formdata.password">
                                <span class="verif-span"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">纭瀵嗙爜</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="confirmpwd" placeholder="纭瀵嗙爜" v-model="formdata.confirmpwd">
                                <span class="verif-span"></span>
                            </div>
                    </li>

                    <li class="mag-left">
                        <button name="register" type="button" class="btn btn-primary" @click="findpasswordSubmit">鎵惧洖瀵嗙爜</button>
                    </li>
                </ul>
            </form>
            </div>
            <div class="register-footer">
<!--搴曢儴鐗堟潈-->
<!--#include virtual="/include/footer.html"-->

            </div>
        </div>
        <!-- 椤甸潰 css js -->
        <script type="text/javascript" src="/plugins/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/plugins/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/static/js/page-learing-student-register.js"></script>


  <script>
  /*鎵嬫満楠岃瘉鐮?/
  const getCheckCodeByCellphone = (cellphone) => {
      return  requestPostForm('/api/checkcode/phone?param1='+cellphone,{});
  }
  /*閭楠岃瘉鐮?/
    const getCheckCodeByEmail = (email) => {
      return  requestPostForm('/api/checkcode/phone?param1='+email,{});
  }
  /*鎵惧洖瀵嗙爜*/
    const findpasswordfun = (params) => {
      return  requestPost('/api/auth/findpassword',params);
  }
  var countdowntime=0;
            var findpasswordVm= new Vue({  
                   el: "#findpasswordarea", 
                   data: {
                     formdata:{
                         cellphone:'',
                         email:'',
                         checkcodekey:'',
                         checkcode:'',
                         confirmpwd:'',
                         password:''
                     }
       
                   },
                   methods: {
                    sendcheckcode(){
                        if(countdowntime>0){
                            return;
                        }
                        
                        if(this.formdata.cellphone){
                            //鎵嬫満鎵惧洖
                            getCheckCodeByCellphone(this.formdata.cellphone).then(res=>{
                                //鍊掕鏃?                                this.countdown()
                                if(res&&res.key){
                                    this.formdata.checkcodekey=res.key
                                    this.$message.success('鍚戞墜鏈哄彂閫侀獙璇佺爜鎴愬姛锛岃鏌ユ敹')
                                }
                               
                            }).catch(error=>{
                                if(error&&error.response.data.errMessage){
                                    this.$message.error(error.response.data.errMessage)
                                }else{
                                    this.$message.error('鍑洪敊浜?)
                                }
                               
                            })
                        }else if(this.formdata.email){
                           
                            //閭鎵惧洖
                            getCheckCodeByEmail(this.formdata.email).then(res=>{
                                //鍊掕鏃?                                this.countdown()
                                if(res&&res.key){
                                    this.formdata.checkcodekey=res.key
                                    this.$message.success('鍚戦偖绠卞彂閫侀獙璇佺爜鎴愬姛锛岃鏌ユ敹')
                                }
                           }).catch(error=>{
                            if(error&&error.response.data.errMessage){
                                    this.$message.error(error.response.data.errMessage)
                                }else{
                                    this.$message.error('鍑洪敊浜?)
                                }
                            })
                        }else{
                            this.$message.error('璇峰～鍐欐墜鏈哄彿鎴栫數瀛愰偖绠卞湴鍧€')
                        }
                    },
                    countdown(){

                        countdowntime = 60;
                        var time = setInterval(function(){
                                $('.send').removeClass('btn-default').addClass('btn-success');
                                countdowntime--;
                                $('.send').text( countdowntime + '绉掑悗閲嶅彂');
                                if(countdowntime == 0){
                                    $('.send').removeClass('btn-success').addClass('btn-default')
                                    $('.send').text('鍙戦€侀獙璇佺爜');
                                    clearInterval(time);
                                }
                            },1000)
                    },
                    findpasswordSubmit(){
                        findpasswordfun(this.formdata).then(res=>{

                        }).catch(error=>{

                        })
                    }
       
                   },
                   created() {
                    
                   },
                   mounted(){
                      
                   }
                 })
       </script>
</body>